<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo">
                </div>
                <div class="mb-3 row">
                    <textarea name="subtitulo" id="subtitulo" cols="30" rows="4" class="form-control"
                        placeholder="Subtítulo"></textarea>
                </div>
                <div class="mb-3 row">
                    <textarea name="cuerpo" id="cuerpo" cols="80" rows="10" class="form-control"
                        placeholder="Cuerpo"></textarea>
                </div>
                <div class="mb-3 row form-group">
                    <label for="imagen">Imagen:
                        <input type="file" name="imagen" id="imagen">
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                {{#if error}}
                <h5 style="color: red;">{{message}}</h5>
                {{/if}}
            </form>
        </div>
    </div>

</div>