<h1>Por favor complete el formulario de contacto</h1>
<form action="/contacto/registro" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <button type="submit">Enviar</button>
</form>